header {
    height: 800px;
    width: 100%;
    background: black;
    overflow: hidden;
    background: #000000;  /* fallback colour. Make sure this is just one solid colour. */

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    object-fit: cover;
}

link-nav{
    padding: 10%;
}


.text-header{
    font-size: 90px;
    color: white;
    font-weight: bold;
    padding-top: 7%;
    text-transform: uppercase;
}
.navbar.center .navbar-inner {
    text-align: center;
}



.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .text-header {
        font-size: 70px;
    }
}
@media screen and (max-width: 1000px) {
    .text-header {
        font-size: 70px;
    }
}

@media screen and (max-width: 450px) {
    .text-header {
        font-size: 50px;
    }
    header{
        height: 500px;
    }
}
