textarea
{
    width:100%;
    border: none;
    height:auto;
}
.textwrapper
{
    border: none;
    margin:5px 0;
    resize: none;
    padding:3px;
    resize: none;
    overflow: hidden;
    height:auto;

}

.divtext {
    border: ridge 0px;
    padding: 5px;
    width: 100%;
    min-height: 5em;
    overflow: auto;
    height: 100%;
    text-align: justify;
    text-justify: inter-word;
}
